<div class="gb-home-banner">
    <div id="smartbanner" class="closed">
        <i id="close" class="gb-icon-cross smartbanner-close"></i>
        <div class="smartbanner-download-link">
            <img src="//d3lfzbr90tctqz.cloudfront.net/epi/resource/l/logo-garbarino-optimizado/b0a7e40e94415ed7bd5f193b2f9769c952ce9fc91b26689349a3c173c42210f2 " alt="logo" title="Garbarino Logo" class="smartbanner-logo">
            <p class="smartbanner-text">
                <b>¡Envío gratis!</b>
                <br>
                <br>
                Sólo hoy por la app
            </p>
            <a id="download-button" href="https://play.google.com/store/apps/details?id=com.garbarino&amp;referrer=utm_source%3Dbanner_responsive%26utm_medium%3Dbanner_responsive%26utm_campaign%3Dbanner_responsive" class="btn btn-sm btn-otl btn-block blue">Usar</a>
        </div>
    </div>
</div>
