<div id="venta-empresas" class="modal fade gb-popup gb-business-sales-popup" style="display: none;">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Venta a empresas</h4>
            </div>
            <div class="modal-body">
                <img src="https://www.garbarino.com/sha/img/garbarino/venta-empresa.jpg/2d78c132cb" alt="Venta a empresas Garbarino.com"/>
            </div>
        </div>
    </div>
</div>
