<div id="venta-telefonica" role="dialog" class="modal fade gb-popup gb-phone-sales-popup" style="display: none;">
    <div class="modal-dialog modal-lg">
       	<!-- Modal content-->
       	<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">×</button>
				<h4 class="modal-title">Venta telefónica</h4>
			</div>
			<div class="modal-body">
                <img src="https://www.garbarino.com/sha/img/garbarino/venta-telefonica.png/81f5a2a3d3" alt="Venta telefónica Garbarino.com" >
			</div>
		</div>
	</div>
</div>
