<div id="environment-modal" class="modal fade gb-popup gb-environment-popup" style="display: none;">
    <div class="modal-dialog modal-lg">
       	<!-- Modal content-->
       	<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">×</button>
				<h4 class="modal-title">Consejos ambientales</h4>
			</div>
			<div class="modal-body">
				<p>El material del embalaje es reciclable. Procure separar plásticos, espuma flex, papel y cartón y enviarlos a las compañías de reciclaje. De acuerdo con las directrices universales vinculadas con los RAEE (Residuos de Aparatos Eléctricos y Electrónicos), en inglés WEEE (Waste of Electrical and Electronic Equipment), se debe colectar y disponer de los residuos de aparatos eléctricos y electrónicos separadamente. Si en el futuro usted necesita desechar un producto, no lo haga junto con la basura doméstica. Envíe el aparato a los puntos de colecta de RAEE. Para mayor información consulte las instrucciones de uso y/o los sitios especializados.</p>
			</div>
		</div>
	</div>
</div>
