<div id="prensa" class="modal fade gb-popup gb-press-popup" style="display: none;">
    <div class="modal-dialog modal-lg">
       	<!-- Modal content-->
       	<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">×</button>
				<h4 class="modal-title">Prensa</h4>
			</div>
			<div class="modal-body">
                <img src="https://www.garbarino.com/sha/img/garbarino/prensa.jpg/e6e9d2cf53" alt="Prensa Garbarino.com" >
                <p>Contacto de Prensa Jenkpress </p>
                <p>Judith Nahmías - contacto@jenkpress.com.ar </p>
                <p>Tel: 4786-9025</p>
			</div>
		</div>
	</div>
</div>
