<!--[if lt IE 9 ]>
    <div id="outdated" style="background-color: #f2564; color:#ffffff">
        <h6>¡Tu navegador está anticuado!</h6>
        <p>Actualiza tu navegador para ver esta página correctamente. <a id="btnUpdateBrowser" title="¡Actualizar!" href="http://outdatedbrowser.com/es">Actualizar mi navegador ahora</a></p>
        <p class="last"><a href="#" id="btnCloseUpdateBrowser" onclick="gb.normandia.closeOutdatedBrowser();" title="Cerrar">&times;</a></p>
    </div>
<![endif]-->