<div id="privacy-modal" class="modal fade gb-popup gb-privacy-popup" style="display: none;">
    <div class="modal-dialog modal-lg">
       	<!-- Modal content-->
       	<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">×</button>
				<h4 class="modal-title">Políticas de privacidad</h4>
			</div>
			<div class="modal-body">
				<img src="https://www.garbarino.com/sha/img/garbarino/datos-personales.jpg/08eebd4ac6">
			</div>
		</div>
	</div>
</div>
