<nav class="gb-mobile-menu-breadcrumb">
    <ul>
        <li>
            <a class="gb-mobile-menu-back" onclick="gb.normandia.gotoLayer(1,null,4)">volver</a>
        </li>
    </ul>
</nav>
<span class="gb-mobile-menu-title">Mi Cuenta</span>
<nav class="gb-mobile-menu-list">
    <ul>
        <li class="no-arrow">
            <a href="{{normandia_endpoint}}/user">Datos Personales</a>
        </li>
        <li class="no-arrow">
            <a href="{{normandia_endpoint}}/user/password/change">Usuario y Contraseña</a>
        </li>
        <li class="no-arrow">
            <a href="/user/signout?redirectUrl=/">Cerrar Sesión</a>
        </li>
    </ul>
</nav>