<div class="gb-search" id="autocomplete-element">
    <a class="gb-search-close-mobile" onclick="autocomplete.closeAutocomplete(true)">&#10006;</a>
    <input class="gb-search-input" autofocus id="autocomplete-input" name="q" type="text" placeholder="&iquest;Qué estás buscando?" autocomplete="off">
    <button class="gb-search-button" type="submit">Buscar</button>
    <div class="gb-search-advanced">

    </div>
    <div class="gb-search-dropdown">

    </div>
</div>